@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  display: flex;
  justify-content: center;
  background-color: rgb(253, 250, 246);
}
/* button{
    padding: 15px 25px;
    border-radius: 40px;
    color: white;
    border: transparent;
} */

/*------------Background-image--------*/
.background-image{
    position: absolute;
   top: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -1;
}

.background-image img{
width: 100%;
height: 100%;
object-fit: cover;
}

.container{
    width: 100%;
    margin: 70px 10px;
    max-width: 1000px;
    /* background-color: yellow; */
}
/*-------Header------*/
.header{
    display: flex;
    justify-content: space-between;
}
 .header .menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: white; 
}

.wrapper{
    align-items: center;
    text-align: center;
    max-width: 650px;
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 180px;
   
}
.box{
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.box p{
    color: var(--Dark-gray);
}
.box hr{
    border: solid 1px var(--Dark-gray);
}
.direction{
    display: flex;
    justify-content: space-between;
   padding: 10px;
   margin-top: 20px;
}
.direction button{
    height: 40px;
    border-radius: 30px;
    border: transparent;
    color: white;
}
 .top{
    background-color: var(--Moderate-cyan);
     padding: 10px;
    
}
.bottom{
    background-color: rgb(166, 165, 165);
    margin-left: 10px;
}
.bottom span{
    margin-right: 10px;
}
button img {
    margin-right: 5px; 
    vertical-align: middle; 
    width: auto;
    height: 100%; 
  }

.two {
    display: flex;
    flex-direction: column;
}
.update {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 20px;
}
.progress-bar progress {
    width: 100%;
    height: 10px;
    background-color: #ddd; 
    border-radius: 10px;
}
.progress-bar progress::-webkit-progress-bar {
    background-color: #ddd; 
    border-radius: 10px; 
  }
.progress-bar progress::-webkit-progress-value {
    background-color: var(--Moderate-cyan);
    border-radius: 10px; 
  }
.three{
    align-items: start;
    text-align: left;
    padding: 15px;
}
.three p{
    margin: 20px 0 ;
}
.thin{
    border: solid 1px var(--Dark-gray);
    padding: 15px;
    border-radius: 10px;
}
.thin div{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.thin button{
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
    border: transparent;
}
.edition p{
    color: var(--Moderate-cyan)
}
.third{
    opacity: 0.5;
}
.second{
    margin: 20px 0;
}
.remain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.remain span { 
    margin-left: 5px;
}
.first button, .second button{
    background-color: var(--Moderate-cyan);
}
.third button {
    background-color:  var(--Dark-gray);
    color: white;
}